.value-selector {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: visibility 0.5s, opacity 0.5s;
  display: block;
  background-image: linear-gradient(#320374, #320374);
  background-repeat: no-repeat;
  background-size: 24rem var(--statusbar-height);
}

/*Bug 1050838: when value selector is global, height needs to be explicit for
               buttons to be visible. */
.generic-dialog[role="dialog"] .value-selector {
  height: calc(100% - 7rem);
}

li[role="option"] label span::after {
  top: 1.1rem;
}

html[dir="rtl"] li[role="option"] label span::after {
  right: unset;
  left: 0.5rem;
}

[role="dialog"][data-type="value-selector"] [role="listbox"] li label span {
  width: 90%;
  line-height: unset;
}

#screen.fullscreen-layout-app.software-button-enabled [role="dialog"][data-type="value-selector"] {
  height: calc(100% - 7rem - var(--software-home-button-height));
}

@media (orientation: landscape) {
  #screen.fullscreen-layout-app.software-button-enabled [role="dialog"][data-type="value-selector"] {
    height: calc(100% - 7rem);
  }
}

#screen.fullscreen-layout-app.software-button-enabled .generic-dialog[role="dialog"] .value-selector {
  height: calc(100% - 7rem - var(--software-home-button-height));
}


@media (orientation: landscape) {
  #screen.fullscreen-layout-app.software-button-enabled .generic-dialog[role="dialog"] .value-selector {
    height: calc(100% - 7rem);
  }

  .value-selector {
    background-size: 32rem var(--statusbar-height);
  }
}

.value-selector[hidden] {
  visibility: hidden;
  opacity: 0;
}

.value-selector[hidden] [role="listbox"],
.value-selector.transitioning [role="listbox"] {
  overflow: hidden;
}

.value-selector-container li > label {
  pointer-events: none;
}
