<element name="about-licensing" extends="section">
  <template>
    <gaia-header data-href="#about-legal">
      <h1 data-l10n-id="open-source-notices-header"></h1>
    </gaia-header>

    <div role="menuitem" class="iframe-container">
      <iframe src="shared/resources/terms_and_privacy_policy.html" id="os-license"></iframe>
    </div>

    <panel data-path="panels/about_licensing/panel"></panel>

  </template>
</element>
