<element name="fxa-enter-password" extends="section">
  <template>
    <section class="vertical">
      <p data-l10n-id="fxa-enter-password-title-1"></p>
      <ul class="tcl-nav-box">
        <li role="menuitem" scroll-into-view="bottom">
          <label for="fxa-pw-input" data-l10n-id="fxa-password">Password</label>
          <input id="fxa-pw-input" maxlength="20" data-l10n-id="fxa-password" x-inputmode="verbatim" type="password">
        </li>
        <li role="menuitem">
          <label for="fxa-confirm-pw-input" data-l10n-id="fxa-confirm-password">Confirm Password</label>
          <input id="fxa-confirm-pw-input" maxlength="20" data-l10n-id="fxa-password" x-inputmode="verbatim" type="password">
        </li>
      </ul>
      <script src="js/screens/fxam_enter_password.js"></script>
    </section>
  </template>
</element>
